<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyABmaxeRLY3_p6jwlZ65WbFiygVFaQ61UA</string>
	<key>GCM_SENDER_ID</key>
	<string>524271462341</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codeJPO.Gameji</string>
	<key>PROJECT_ID</key>
	<string>gameji-e50ab</string>
	<key>STORAGE_BUCKET</key>
	<string>gameji-e50ab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:524271462341:ios:be0e0b44d17ac7a6438dac</string>
</dict>
</plist>